<div class="container">
  <div class="row">
    <div class="col-12 py-4">
      <h2>{{title}}s</h2>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 py-4 px-4 item" *ngFor='let item of images; let i = index'>
      <a [routerLink]="['/shopping', 'camera', item.id]">
        <img [src]="item.url" alt="{{title}} {{i+1}}" width="400" height="300">
      </a>
      <div class="desc">
        <h4>{{item.name}}</h4>
        <p class="text-secondary">Add a description of the {{item.name}} {{i+1}} here</p>
        <p class="text-primary float-left">{{item.cost | currency : 'INR'}}</p>
        <div class="float-right" *ngIf='cart.getIndexFromCart(item) < 0' >
          <button class="btn btn-primary" (click)='cart.addCart(item)'>Add to
            cart</button>
        </div>
        <div class="float-right" *ngIf='cart.getIndexFromCart(item) >= 0'>
          <button class="btn btn-primary" (click)='cart.updateQuantity(item, false)'
            [disabled]='item.quantity < 1'>-</button>
          <input type="number" class="text-center border-0" [value]='cart.cart[cart.getIndexFromCart(item)].quantity' min="0" max="999" readonly>

          <button class="btn btn-primary" (click)='cart.updateQuantity(item, true)'>+</button>
        </div>
        
      </div>
    </div>
  </div>
</div>