<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-12 py-3">
      <div class="card">
        <div class="row py-3">
          <div class="col-sm-4 ">
            <input class="form-control ml-2" placeholder="Search...">
          </div>
          <div class="col-6 py-2">Showing 2/2 entries</div>
          <div class="col-2 float-right px-4">
            <a [routerLink]="['/dashboard/addItems']">
              <i class="material-icons text-orange float-right">
                add_circle
              </i>

            </a>
          </div>
        </div>
        <div class="row">
            <div class="col-12">
              <table class=" table table-hover table-bordered table-striped">
                <thead>
                  <tr>
                    <th>
                        Menu item option
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                      Cuisine
                    </th>
                    <th>
                      Product Category
                    </th>
                    <th>
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let item of products'>
                    <td> {{item.product_name}} </td>
                    <td> {{item.product_name}} </td>
                    <td> {{item.product_name}} </td>
                    <td> {{item.productCategory.product_category_name}} </td>
                    <td> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
  
</div>