<div class="container">
  <div class="row">
    <div class="col-12 py-4">
      <h2>{{title}}s</h2>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 py-4 px-4 item" *ngFor='let item of images; let i = index'>
      <a [routerLink]="['/shopping', 'phone', item.id]">
        <img [src]="item.url" alt="{{title}} {{i+1}}" width="400" height="300">
      </a>
      <div class="desc text-center">
        <h3>{{item.name}}</h3>
      </div>
      <div class="desc text-center">
        <p>Add a description of the {{item.name}} {{i+1}} here</p>
        <p class="text-primary">{{item.cost | currency : 'INR'}}</p>
        <div class="btn-group btn-group-toggle">
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" ngbButton [(ngModel)]="item.isAddedToCart" 
             value="false" (click)= 'addCart(item); item.quantity = item.addCart ? 0 : 1' /> {{item.isAddedToCart ? 'Remove from Cart' : 'Add into Cart'}}
             
          </label>
        </div>
        <div *ngIf = 'item.isAddedToCart'>
          <div class="btn-group" role="group" aria-label="Basic example" class="float-left">
            <button type="button" (click)='updateQuantity(item); item.quantity = item.quantity > 1 ? item.quantity - 1 : 1' class="btn btn-secondary" [ngClass]='{"disabled" : item.quantity < 2}' [disabled]='item.quantity < 2'>-</button>
            <button type="button" (click)='updateQuantity(item); item.quantity = item.quantity > 0 ? item.quantity + 1 : 1' class="btn btn-secondary">+</button>
          </div>
          <div class="float-right">Qty: {{item.quantity}}</div>
        </div>
      </div>
    </div>
  </div>
</div>