<div class="container">
  <div class="row">
    <div class="col-12 py-4">
      <h2>{{title}}s</h2>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 py-4 px-4 item" *ngFor='let item of images; let i = index'>
      <a target="_blank" [href]="item">
        <img [src]="item" alt="{{title}} {{i+1}}" width="600" height="400">
      </a>
      <div class="desc text-center">
        <h3>{{title}} {{i+1}}</h3>
      </div>
      <div class="desc text-center">Add a description of the {{title}} {{i+1}} here</div>
    </div>
  </div>
</div>