<section class="container-fluid">
  <div class="row">
    <nav class="col-md-2 navbar-dark text-center">
      <ul class="nav flex-column navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/dashboard"]' [ngClass]='{"active" : common.active("/home")}'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/dashboard", "user"]' [ngClass]='{"active" : common.active("/user")}'>User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/dashboard", "pictures", "1"]' [ngClass]='{"active" : common.active("/pictures")}'>Pictures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/dashboard", "comments", "1"]' [ngClass]='{"active" : common.active("/comments")}'>Comments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/dashboard", "about"]' [ngClass]='{"active" : common.active("/about")}'>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/dashboard", "menu-items"]' [ngClass]='{"active" : common.active("/menu-items")}'>Menu
            Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/shopping"]'>
            Shopping</a>
        </li>
        <li class="nav-item btn-block mt-5">
          <a class="nav-link logout text-white" (click)='authService.logout()'>Logout</a>
        </li>

      </ul>
    </nav>
    <aside class="col-md-10 overflow-auto">
      <div>
        <router-outlet></router-outlet>
      </div>
    </aside>
  </div>
</section>