<div class="container">
  <div class="row">
    <div class="col-12">
      <app-shopping-carousel></app-shopping-carousel>
    </div>
  </div>
  <div class="row">
    <div class="col-12 py-5">
      <h3 class="float-left">Mobile Phones</h3>
      <button type="button" class="btn btn-success float-right" [routerLink]="['/shopping', 'phone']">
        View All
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3" *ngFor='let item of images'>
      <a>
        <img [src]="item.url" alt="Mobile Phone" width="400" height="300">
      </a>
      <div class=" text-center py-2">
        <h5>{{item.name}}</h5>
      </div>
      <div class=" text-center">
        <p>Add a description of the Mobile Phone here</p>
        <p class="text-primary">{{item.cost | currency : 'INR'}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 py-5">
      <h3 class="float-left">Cameras</h3>
      <button type="button" class="btn btn-success float-right" [routerLink]="['/shopping', 'camera']">
        View All
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3" *ngFor='let item of images'>
      <a>
        <img [src]="item.url" alt="Mobile Phone" width="400" height="300">
      </a>
      <div class=" text-center py-2">
        <h5>{{item.name}}</h5>
      </div>
      <div class="desc text-center">
        <p>Add a description of the Camera here</p>
        <p class="text-primary">{{item.cost | currency : 'INR'}}</p>
      </div>

    </div>
  </div>

</div>