<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>About</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A consequuntur quaerat illum. Pariatur, laboriosam
        alias,
        vel consequuntur unde porro praesentium quia et dicta eveniet sit fugit vitae voluptatum aliquam
        corrupti?Lorem,
        ipsum dolor sit amet consectetur adipisicing elit. Corporis necessitatibus nobis sunt nesciunt adipisci iusto
        delectus perferendis? Nesciunt sint in ab iure aperiam saepe accusamus sed, distinctio, sit earum laboriosam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam labore adipisci nihil officiis vel ipsum magni
        veniam
        fuga? Iure libero numquam blanditiis corporis, ea sequi perferendis neque adipisci consequatur aut.


      </p>
      <br>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores corporis modi totam, expedita voluptates odit
        eius doloribus quas facilis? Veritatis dignissimos amet, harum velit a eum tempora odit provident dicta. Lorem
        ipsum dolor sit amet, consectetur adipisicing elit. Autem nisi optio iste facere fuga nulla quasi placeat
        provident
        quod, unde eveniet dolor distinctio fugit, asperiores delectus ullam neque ex iusto. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Ipsam voluptas modi esse laboriosam. Hic quod impedit enim earum deleniti modi
        praesentium magnam deserunt id natus, illo error inventore? Ea, temporibus!
      </p>
    </div>
  </div>
</div>