<div class="container">
  <ul>
    <li *ngFor="let item of page" class="overflow-hidden">
      <div class="overflow-hidden py-3">
        <img src={{item.url}} width="75" height="75" class="float-left overflow-hidden">
        <div class="ml-3 float-left">
          {{item.title | titlecase}}
        </div>
        {{item.title}}
      </div>
    </li>
  </ul>
  <div class="container p-5">
    <div class="input-group">
      <button class="btn btn-success form-control float-left" 
      (click)='previous(currentPage)' 
      [ngClass]='{"disabled" : currentPage == 1}'>Previous</button>
      <input type="number" min="1" max="{{pages}}" value="1" [(ngModel)]='pageNumb'>
      <button class="btn btn-success form-control float-left" 
      (click)='getPage(pageNumb)'>Go to Page</button>
      <button class="btn btn-success form-control float-left" 
      (click)='next(currentPage)' 
      [ngClass]='{"disabled" : currentPage == pages}'>Next</button>
    </div>
  </div>
</div>