<div class="container">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>UserName</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of user">
        <td>{{item.id}}</td>
        <td>{{item.name | titlecase}}</td>
        <td>{{item.username}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.email}}</td>
        <td>{{item.website}}</td>
      </tr>

    </tbody>
  </table>
</div>